<ion-header class="ion-no-border">
  <ion-toolbar style="padding: 0;">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      My Orders
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #ff8635;">
  <ion-row>
    <ion-col size="4">
      <img class="firstImg" src="{{profile.shop_logo}}">
    </ion-col>

    <ion-col size="8" style="margin: auto; text-align: left;">
      <p class="vendorTag">{{profile.full_name}}</p>
      <p class="vendorTag" style="font-size: 0.845em;">{{profile.location}}, {{profile.district}}, {{profile.state}} - {{profile.pincode}}</p>
    </ion-col>
  </ion-row>

  <div class="inside-content">
    <div style="margin: 25px;border: 1px solid #c3f3fc;" *ngFor="let item of myOrdersData">
      <ion-row (click)="openOrders(item.order_id)" style="background: #f0fafc; padding: 5px;">
        <ion-col size="7">
          <p style="color: #ff8635;font-weight: bolder;margin: 0;margin-bottom: 2%;">Order ID: {{item.orderid}}</p>
          <p style="font-size: 0.845em; color: rgb(162, 179, 196); margin: 0;">{{item.datetime}}</p>
          <p style="font-weight: bolder;text-transform: capitalize;">{{item.user_name}}</p>
          <p style="font-size: 0.845em; margin-top: -10px;font-weight: bolder;color: #2a526b;">{{item.address.address}}, {{item.address.city}}, {{item.address.state}} - {{item.address.pincode}}</p>
        </ion-col>
        <ion-col size="1">
          <div style="border-right: 1px solid lightgray; height: 80px; margin-top: 20px;"></div>
        </ion-col>
        <ion-col size="4" style="margin:auto; text-align:center;">
          <p style="font-weight: bold;">{{item.total_products}} Items</p>
          <p style="color: red; font-weight: bold;">&#8377; {{item.total_product_price}}</p>
        </ion-col>
      </ion-row>
      <ion-row style="background: #d9eff5;">
        <ion-col size="6">
          <p style="font-weight: bolder;margin-left: 2%;">Status : <span style="color: green;">{{item.order_status}}</span></p>
        </ion-col>
        <ion-col size="6" (click)="cancelOrder(item.order_id)" *ngIf="item.order_status != 'Cancelled'">
          <p style="font-weight: bolder;
          color: red;
          margin-right: 5%;
          float: right;"> 
               Cacel Order
          </p>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>