<ion-header class="ion-no-border">
  <ion-toolbar style="padding: 0;">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Product List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #ff8635;">
  <ion-row>
    <ion-col size="4">
      <img src="../../assets/images/deliveryboy_icon.png" class="topImage">
    </ion-col>

    <ion-col size="8" style="margin: auto; text-align: left;">
      <p>Vendor Name</p>
      <p style="font-size: 0.845em;">area name, pincode-123456</p>
    </ion-col>
  </ion-row>
  <div class="inside-content" style="min-height: -webkit-fill-available;
  max-height: 100%;">

    <div style="padding: 5%;" *ngIf="productList.length > 0">
      <ion-grid>
        <ion-row>
          <ion-col size="5.5" style="text-align: center; background: #66666614;margin: 2%;" *ngFor="let item of productList">
            <img src="{{item.featured_image}}" style="width: 90%;margin-bottom: 5%;">
            <p style="margin: 1%; font-weight: 600;color: #666666;margin-bottom: 5%;">{{item.name}}</p>
            <p style="margin-top: 4%;">
              <span style="margin-right: 5%;font-weight: 600;color:rgb(253, 5, 5);text-decoration: line-through;">₹ {{item.sales_price}}</span>
              <span style="margin-right: 5%;font-weight: 600;">₹ {{item.sales_price}}</span>
              <span style="font-weight: 600;color: rgb(26, 192, 26);font-size: 0.8em;">{{item.mrp}}%</span>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

</ion-content>