<ion-header class="ion-no-border" >
  <ion-toolbar style="padding: 0;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content style="--background: #ff8635;">

  <div style="background: #fff;
  border-radius: 25px 25px 0 0;
  z-index: 46;
  position: absolute;
  width: 100%;
  margin-top: 22%;
  min-height: -webkit-fill-available;
  height: auto;">

    <div style="margin-bottom: 1%;">
      <img src="{{profile.shop_logo}}" onerror="this.onerror=null;this.src='../../../assets/images/aboutus.png';" style="display: block;
            border-radius: 50%;
            width: 10em;
            height: 10em;
            margin: -20% auto auto auto;
            z-index: -1;
            padding: 2%;">
    </div>

    <p style="margin: 0; font-size: 1.1em;color: #ff8635;text-align: center;font-weight: 600;">
      {{profile.shop_name}}
    </p>
    

    <ion-card style="box-shadow: unset;background: #f0f7fc;">
      <ion-card-header style="border-bottom: 1px solid gainsboro;">
        <span style="margin: 0;
        font-size: 1.2em;
        color: #00314f;
        text-align: center;
        font-weight: 600;
        font-family: 'gilroy-bold' !important;">Vendor Information</span>
      </ion-card-header>

      <ion-item lines="none" style="--background: #f0f7fc;margin-top: 1%;">
        <ion-label style="--background-color: #fff;margin: 0;">
          <span style="margin-bottom: 1em;
          font-size: 1em;
          font-weight: bold;white-space: break-spaces;
          color: #000;float: left;width: 30%;opacity: 0.7;background: #f0f7fc;">Shop Name</span>
          <span style="color: #000;
          font-weight: bold;
          white-space: pre-line;
          width: 70%;
          display: -webkit-inline-box;background: #f0f7fc;">{{profile.shop_name}}</span>
        </ion-label>
      </ion-item>

      <ion-item lines="none" style="--background: #f0f7fc;">
        <ion-label style="--background-color: #fff;margin: 0;">
          <span style="margin-bottom: 1em;
          font-size: 1em;
          font-weight: bold;white-space: break-spaces;
          color: #000;float: left;width: 30%;opacity: 0.7;background: #f0f7fc;">Email ID</span>
          <span style="color: #000;
          font-weight: bold;
          white-space: pre-line;
          width: 70%;
          display: -webkit-inline-box;background: #f0f7fc;">{{profile.email}}</span>
        </ion-label>
      </ion-item>

      <ion-item lines="none" style="--background: #f0f7fc;">
        <ion-label style="--background-color: #fff;margin: 0;">
          <span style="margin-bottom: 1em;
          font-size: 1em;
          font-weight: bold;white-space: break-spaces;
          color: #000;float: left;width: 30%;opacity: 0.7;background: #f0f7fc;">Phone Number</span>
          <span style="color: #000;
          font-weight: bold;
          white-space: pre-line;
          width: 70%;
          display: -webkit-inline-box;background: #f0f7fc;">{{profile.mobile}}</span>
        </ion-label>
      </ion-item>

      <ion-item lines="none" style="--background: #f0f7fc;">
        <ion-label style="--background-color: #fff;margin: 0;">
          <span style="margin-bottom: 1em;
          font-size: 1em;
          font-weight: bold;white-space: break-spaces;
          color: #000;float: left;width: 30%;opacity: 0.7;background: #f0f7fc;">Owner Name</span>
          <span style="color: #000;
          font-weight: bold;
          white-space: pre-line;
          width: 70%;
          display: -webkit-inline-box;background: #f0f7fc;">{{profile.full_name}}</span>
        </ion-label>
      </ion-item>

      <ion-item lines="none" style="--background: #f0f7fc;">
        <ion-label style="--background-color: #fff;margin: 0;">
          <span style="margin-bottom: 1em;
          font-size: 1em;
          font-weight: bold;white-space: break-spaces;
          color: #000;float: left;width: 30%;opacity: 0.7;background: #f0f7fc;">Address</span>
          <span style="color: #000;
          font-weight: bold;
          white-space: pre-line;
          width: 70%;
          display: -webkit-inline-box;background: #f0f7fc;">{{profile.location}}, {{profile.district}}, {{profile.state}}</span>
        </ion-label>
      </ion-item>

      <ion-item lines="none" style="--background: #f0f7fc;">
        <ion-label style="--background-color: #fff;margin: 0;">
          <span style="margin-bottom: 1em;
          font-size: 1em;
          font-weight: bold;white-space: break-spaces;
          color: #000;float: left;width: 30%;opacity: 0.7;background: #f0f7fc;">Pincode</span>
          <span style="color: #000;
          font-weight: bold;
          white-space: pre-line;
          width: 70%;
          display: -webkit-inline-box;background: #f0f7fc;">{{profile.pincode}}</span>
        </ion-label>
      </ion-item>
      <ion-button style="--background: #04b922;
        margin: 5% auto;
        display: table;" (click)="eidtProfile()">EDIT DETAILS</ion-button>
    </ion-card>
  </div>
</ion-content>

