.inner-content {
    background: transparent;
    border-radius: 25px;
    width: 100%;
    z-index: 46;
    padding: 10px;
}

ion-content {
    --background: #00314f;
}

.icon {
    background: cadetblue; 
    color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 25px;
}

ion-row {
    background: #f0fafc;
    border: 1px solid #e9e9e9;
    margin: 5px;
}