<ion-header class="ion-no-border">
  <ion-toolbar style="padding: 0;">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Order Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #ff8635;">
  <ion-row style="margin-left: 15px; height: 100px; flex-wrap: unset;">
    <ion-col size="8" style="margin: auto; text-align: left;">
      <p class="vendorTag">Order #: {{orderDetails.order.orderid}}</p>
      <p style="font-size: 0.845em; margin: 1px 1%;">Ordered on: {{orderDetails.order.datetime}}</p>
    </ion-col>
    <!-- <ion-col size="1"> -->
      <div style="border-right: 1px solid #e9e9e9; height: 50px; margin-top: 20px;"></div>
    <!-- </ion-col> -->
    <ion-col size="4" style="margin:auto; text-align:center;">
      <p style="font-weight: bold;">&#8377; {{orderDetails.order.grand_total}}</p>
    </ion-col>
  </ion-row>

  <div class="inside-content">
    <ion-row style="background: #f0fafc; margin: 20px;" *ngFor="let product of orderDetails.products">
      <ion-col size="3" style="margin: auto;">
        <img class="productImg" src="{{product.image}}">
      </ion-col>
      <ion-col size="6">
        <p style="font-size: 1em;font-weight: 600;">{{product.name}}</p>
        <p style="font-size: 0.8em;font-weight: 600;margin: -7% 0 -5px 0;">{{product.brand_name}}</p>
        <p>
          <span style="margin-right: 5%;font-weight: 600;font-size: 0.8em;color:rgb(253, 5, 5);">₹ {{product.seller_price}}</span>
          <span style="margin-right: 5%;font-weight: 600;color: #000; font-size: 0.8em; text-decoration: line-through;">₹ {{product.mrp}}</span>
          <span style="font-weight: 600;color: rgb(26, 192, 26);font-size: 0.8em;">{{product.offer}}</span>
        </p>
      </ion-col>
      <ion-col size="3" style="margin: auto; display: block;">
        <p>
          <span
            style="background: #fff; border: 1px solid #e9e9e9; padding: 10px 15px; font-size: 1.2em;font-family:'gilroy-bold' !important;">{{product.qty}}</span>
        </p>
      </ion-col>
    </ion-row>

    <ion-row style="margin-left: 15px;">
      <ion-col>
        <span style="font-weight: bolder; font-size: 1em;">Shipping Address</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="border: 1px solid #e9e9e9; margin: 2px 15px; border-radius: 10px;">
        <p style="font-size: 0.9em;">Customer Name</p>
        <p style="font-size: 0.8em; margin-top: -13px;color: #2a526b;">{{orderDetails.address.address}},</p>
        <p style="font-size: 0.8em; margin-top: -13px;color: #2a526b;">{{orderDetails.address.city}},</p>
        <p style="font-size: 0.8em; margin-top: -13px;color: #2a526b;">{{orderDetails.address.state}},</p>
        <p style="font-size: 0.8em; margin-top: -13px;color: #2a526b;">Pincode - {{orderDetails.address.pincode}}</p>
        <p style="font-weight: bold;margin-top: -6px;margin-bottom: 0px;font-size: 0.9em;">Phone Number: <span style="color: #2a526b;">{{orderDetails.address.mobile_number}}</span></p>

      </ion-col>
    </ion-row>

    <ion-row style="margin: 5px 15px;">
      <ion-col>
        <span style="font-weight: bolder; font-size: 1em;">Bill Details</span>
      </ion-col>
    </ion-row>

    <ion-row style="border: 1px solid #e9e9e9; margin: 2px 15px; border-radius: 10px;">
      <ion-col size="9">
        <p>Items Total</p>
        <p>Delivery Fees</p>
        <!-- <p>TAX</p> -->
        <p>Coupon Discount</p>
        <div style="border-bottom: 1px solid #e9e9e9"></div>
        <p style="font-weight: bold;">Grand Total</p>
      </ion-col>
      <ion-col size="3">
        <p>&#8377; {{orderDetails.order.total_product_price}}</p>
        <p>&#8377; {{orderDetails.order.delivery_charge}}</p>
        <!-- <p>&#8377; 0</p> -->
        <p>- &#8377; {{getDiscountAmount(orderDetails.order.discount_amount)}} </p>
        <div style="border-bottom: 1px solid #e9e9e9"></div>
        <p style="font-weight: bold;">&#8377; {{orderDetails.order.grand_total}}</p>
      </ion-col>
    </ion-row>

    <ion-row style="margin: 5px 15px;">
      <ion-col>
        <span style="font-weight: bolder; font-size: 1em;">Payment Method</span>
      </ion-col>
    </ion-row>

    <ion-row style="border: 1px solid #e9e9e9; margin: 2px 15px; border-radius: 10px;">
      <ion-col size="9" style="padding: unset;">
        <ion-item lines="none">
          <ion-icon style="color: #ff8635; margin: unset;" name="pricetag" slot="start"></ion-icon>
          <span style="margin-left: 5px;">{{orderDetails.order.payment_method}}</span>
        </ion-item>
      </ion-col>
      <ion-col size="3" style="padding: unset;">
        <p style="font-weight: bold;">&#8377; {{orderDetails.order.grand_total}}</p>
      </ion-col>
    </ion-row>

    <div class="second-div" style="margin: 15px" *ngIf="orderHistory.length > 0">
      <ion-row *ngFor="let history of orderHistory">
        <ion-col size="1" style="margin: auto; display: block;">
          <div class="roundIcon"></div>
        </ion-col>
        <ion-col size="11" style="color: #fff;">
          <span style="font-weight: 600;">{{history.status}}</span> <br>
          <span style="font-size: 0.845em; margin-top: -13px">{{history.date}}</span>
        </ion-col>
        <!-- <ion-col size="4" style="color: #fff;">
          <p style="font-weight: 600;">#12XYZ345</p>
        </ion-col> -->
        <div style="border: 1px solid #fff; width: 90%; border-style: dashed;"></div>
      </ion-row>

      <!-- <ion-row>
        <ion-col size="1" style="margin: auto; display: block;">
          <div class="roundIcon"></div>
        </ion-col>
        <ion-col size="7" style="color: #fff;">
          <span style="font-weight: 600;">Pickup</span> <br>
          <span style="font-size: 0.845em; margin-top: -13px">10:10 AM | 29.01.2021</span>
        </ion-col>
        <ion-col size="4" style="color: #fff;">
          <p style="font-weight: 600;">#12XYZ345</p>
        </ion-col>
        <div style="border: 1px solid #fff; width: 90%; border-style: dashed;"></div>
      </ion-row> -->

      <!-- <ion-row>
        <ion-col size="1" style="margin: auto; display: block;">
          <div class="roundIcon"></div>
        </ion-col>
        <ion-col size="7" style="color: #fff;">
          <span style="font-weight: 600;">Payment Received</span> <br>
          <span style="font-size: 0.845em; margin-top: -13px">10:10 AM | 29.01.2021</span>
        </ion-col>
        <ion-col size="4" style="color: #fff;">
          <p style="font-weight: 600;">&#8377; 1,520</p>
        </ion-col>
        <div style="border: 1px solid #fff; width: 90%; border-style: dashed;"></div>
      </ion-row> -->

      <!-- <ion-row>
        <ion-col size="1" style="margin: auto; display: block;">
          <div class="roundIcon"></div>
        </ion-col>
        <ion-col size="7" style="color: #fff;">
          <span style="font-weight: 600;">Order Delivered</span> <br>
          <span style="font-size: 0.845em; margin-top: -13px">10:10 AM | 29.01.2021</span>
        </ion-col>
        <ion-col size="4" style="color: #fff;">
          <p style="font-weight: 600;">#12XYZ345</p>
        </ion-col>
      </ion-row> -->
    </div>
  </div>

</ion-content>